{% extends 'base.html' %}


{% block start %}


  <!-- banner section---------------------------------------------- -->
  <section class="banner" style="background: url(https://images.unsplash.com/photo-1598368195835-91e67f80c9d7?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center/cover;" id="banner">
    <aside class="shade">
      <div class="banner-container">
        <div class="banner-head">
          <h1>
            About Us
          </h1>
        </div>
      </div>
    </aside>
  </section>

  <!-- intro to company-------------------- -->

  <div class="intro-box flex">
    <div class="intro-box-1 intro-box-common flex">
      <h1 class="m-10 p-10">WHAT WE ARE..</h1>
      <p class="m-10 p-10">At Aesthetic Solar, we believe that sustainability should be seamlessly integrated into your
        lifestyle. Our solar panel designs go beyond functionality, offering a touch of sophistication to your
        residential or commercial space. From sleek rooftop installations to artistically designed solar arrays, our
        panels are a statement of eco-conscious elegance.
      </p>
      <p class="m-10 p-10">We understand that solar panels are not just functional elements but can be a part of your
        overall design aesthetic. Aesthetic Solar takes pride in creating solar solutions that seamlessly integrate with
        the architectural beauty of your property. Let your solar panels become a piece of art while generating clean
        energy.</p>
    </div>
    <div class="intro-box-2 intro-box-common">
      <img
        src="https://images.unsplash.com/photo-1501494278684-d0fb421388ef?q=80&w=1967&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="">
    </div>
  </div>


  <!-- our story section-===================================================================== -->
  <div class="story-container flex">
    <div class="story-box-1 story-box-common">
      <h1 class="m-5 p-5"> OUR STORY...</h1>
      <p class=" m-5 p-5">Welcome to Aesthetic Solar, where elegance and sustainability converge to illuminate your
        world. At
        Aesthetic Solar, we believe in harnessing the power of the sun to create beautiful, efficient, and
        environmentally conscious energy solutions for homes and businesses alike. Our mission is to redefine the way
        you think about solar energy, transforming it from a practical necessity into a seamless integration of style
        and functionality.</p>
      <h1 class="m-5 p-5">OUR VISION...</h1>
      <p class="m-5 p-5">At Aesthetic Solar, our vision is to revolutionize the solar industry by offering innovative
        and aesthetically pleasing solar panel designs that complement the architectural beauty of any property. We
        envision a future where solar energy is not only accessible and efficient but also a seamless extension of your
        lifestyle and design preferences.</p>
    </div>
    <div class="story-box-2 story-box-common">
      <img
        src="https://images.unsplash.com/photo-1624397640148-949b1732bb0a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="">
    </div>
  </div>

  <!-- about companyyyyy------------------------------ -->
  <div class="about-company-container flex">
    <div class="about-company">
      <h1 class="m-10 p-5">About Us:</h1>
      <p class="m-5 p-5"> we specialize in providing accurate and reliable PE stamps for a wide range of engineering
        projects. Our team consists of licensed Professional Engineers with extensive experience and expertise across
        various disciplines, ensuring that your projects receive the highest level of scrutiny and approval.</p>
      <hr>
      <h1 class="m-10 p-5">Our Mission:</h1>
      <p class="m-5 p-5">Our mission at Engineering PE Stamps is to ensure the safety, compliance, and quality of
        engineering projects through our certification services. We are committed to upholding the integrity of the
        engineering profession by providing thorough and meticulous evaluations that meet industry standards and
        regulatory requirements. Our goal is to instill confidence in our clients, knowing that their projects have been
        certified by qualified professionals.</p>
      <hr>
      <h1 class="m-10 p-5">Why Choose Aesthetic Solar:</h1>

      <h1 class="p-5 m-5 sub">Stunning Design:</h1>
      <p class="m-5 p-5">We specialize in creating solar panel installations that enhance the visual appeal of your
        property. From sleek rooftop arrays to artistic ground-mounted installations, our designs seamlessly integrate
        with your architecture, adding a touch of elegance to your space.</p>

      <h1 class="p-5 m-5 sub"> Cutting-Edge Technology:</h1>
      <p class="p-5 m-5">Our solar solutions incorporate the latest advancements in solar technology, ensuring
        optimal energy production and efficiency. With smart monitoring systems and high-performance panels, you can
        trust
        that your Aesthetic Solar system will deliver reliable and sustainable power for years to come.</p>

      <h1 class="p-5 m-5 sub">Sustainability:</h1>
      <p class="p-5 m-5">We are committed to sustainability and reducing our carbon footprint. By choosing Aesthetic
        Solar,
        you are not only investing in clean, renewable energy but also contributing to a brighter and more sustainable
        future for generations to come.</p>

      <h1 class="m-5 p-5 sub">Exceptional Service:</h1>
      <p class="p-5 m-5"> At Aesthetic Solar, customer satisfaction is our top priority. From initial consultation to
        installation and beyond, our team of solar experts is dedicated to providing personalized service and support
        every
        step of the way. We strive to exceed your expectations and ensure a smooth and seamless solar experience.</p>

      <hr>
      <h1 class="m-10 p-5">Our Services:</h1>

      <p class="p-5 m-5">Custom Solar Panel Design and Installation
        Rooftop and Ground-Mounted Solar Solutions
        Smart Solar Technologies and Monitoring Systems
        Sustainable Energy Consulting and Education
        Ongoing Maintenance and Support Services</p>
      <hr>
      <h1 class="p-5 m-10">Join the Aesthetic Solar Movement:</h1>

      <p class="p-5 m-5">Whether you're a homeowner looking to reduce your energy bills, a business owner committed to
        sustainability, or an
        architect seeking innovative design solutions, Aesthetic Solar is here to help you achieve your solar energy
        goals.
        Join us in embracing the beauty of solar energy and let's create a brighter, more sustainable future together.
      </p>
    </div>
  </div>

{% endblock start %}