<div class="contact-container-external flex">
    <div class="contact-info-container">
      <div class="info-box">
        <div class="info-box-head flex">
          <i class="fad fa-headset m-5 p-5" style="--fa-primary-color: #FC7E08; --fa-secondary-color: #FC7E08;"></i>
          <h1 class="p-5 m-5">Call Us</h1>
        </div>
        <h3 class="p-5 m-5"><a class="m-5 p-5" href="tel:+91-6395143497">+91-6395143497</a></h3>
      </div>
      <div class="info-box">
        <div class="info-box-head flex">
          <i class="fad fa-map-marker-alt m-5 p-5"
            style="--fa-primary-color: #FC7E08; --fa-secondary-color: #FC7E08;"></i>
          <h1 class="m-5 p-5">Address</h1>
        </div>
        <h3 class="m-5 p-5"><a class="m-5 p-5" href="https://maps.app.goo.gl/DSfwguAsY2qvo5eR8" target="_blank"
            class="m-5 p-5">B 57, Pocket B, Okhla
            Phase I, Okhla Industrial Estate, New Delhi, Delhi 110020</a></h3>
      </div>
      <div class="info-box">
        <div class="info-box-head flex">
          <i class="fal fa-envelope m-5 p-5" style="color: #FC7E08;"></i>
          <h1 class="m-5 p-5">Mail Us</h1>
        </div>
        <h3 class="m-5 p-5"><a class="m-5 p-5" class="m-5 p-5" href="mailto:info@aestheticsolar.com"
            class="m-5 p-5">info@aestheticsolar.com</a>
          <br>
          <a href="mailto:support@aestheticsolar.com">support@aestheticsolar.com</a>
        </h3>
      </div>
      <div class="info-box">
        <div class="info-box-head">
          <h1 class="p-5 m-5">follow us on:</h1>
        </div>
        <a href="https://www.linkedin.com/in/aesthetic-solar-4948b72b0/" target="_blank"><i
            class="fab fa-linkedin p-5 m-5" style=" font-size: 2.5rem;"></i></a>
      </div>
    </div>
    <div class="contact-form-container-internal">
      <h1>Get In Touch With Us :</h1>
      <form action="{% url 'home' %}" method="post">
        {% csrf_token %}
          <div class="contact-form">
              <p class="p-5">Full name:</p><input class="p-5 common-input" type="text" id="fullname" name="name"><br>
              <p class=" p-5">Email:</p><input class="p-5 common-input" type="email" name="" id="email" name="email"><br>
              <p class=" p-5">Phone:</p> <input class="p-5 common-input" type="number" id="Phone" name="phone"><br>
              <p class=" p-5">Subject:</p><input class="p-5 common-input" type="text" id="subject" name="subject"><br>
              <p class=" p-5">Message:</p><textarea class="p-5 common-input" id="message" cols="30"
              rows="10" name="message"></textarea><br>
              <button class="m-10 p-5 submit-btn" type="submit">Submit</button>
            </div>
        </form>
    </div>
  </div>
