{% extends 'base.html' %}

{% block start %}


  <!-- banner section---------------------------------------------- -->
  <section class="banner" id="banner">
    <aside class="shade">
      <div class="banner-container">
        <div class="banner-head">
          <h1>
            Contact Us
          </h1>
        </div>
      </div>
    </aside>
  </section>

  <!-- contact form--------------------------------------------------------- -->
  {% include 'contact_form.html' %}
  <!-- maps section============================================== -->
  <center class="maps">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d7010.549854544438!2d77.277611!3d28.531455!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjjCsDMxJzUzLjIiTiA3N8KwMTYnNDguNyJF!5e0!3m2!1sen!2sin!4v1706629626447!5m2!1sen!2sin"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </center>



{% endblock start %}