
  <div class="developer-content flex">
    <h1>DEVELOPED BY:</h1>
    <div class="developer-info flex">
      <div class="dev-1 dev-common">
        <h1 class="p-5">Font-End Developer</h1>
        <h1 class="p-5">Nikhil Verma</h1>
        <p><a class="p-5" href="mailto:nikhil919325@gmail.com">nikhil919325@gmail.com</a>|<a class="p-5"
            href="tel:+91-9193257838">+91-9193257838</a></p>
      </div>
      <div class="dev-2 dev-common m-10">
        <h1 class="p-5">Back-End Developer</h1>
        <h1 class="p-5">Tanmay Khatri</h1>
        <p><a class="p-5" href="mailto:tanmaykhatri07726@gmail.com">tanmaykhatri07726@gmail.com</a>|<a class="p-5"
            href="tel:+91-8791281181">+91-8791281181</a></p>
      </div>
    </div>
  </div>