{% comment %} <div class="developer-content flex">
  <div class="developer-info flex">
    <div class="dev-1 dev-common">
      <h1 class="p-5"> Developed By : <br> <a href="mailto:nikhil919325@gmail.com">@Nikhil Verma</a></h1>
      <p><a class="p-5" href="mailto:tanmaykhatri07726@gmail.com">@Tanmay khatri</a>|<a class="p-5"
          href="tel:+91-9193257838">Call Us</a></p>
    </div>
  </div>
</div> {% endcomment %}

<div class="copyright">
  <h1 class="p-5">Aesthetic Solar @ All Rights Reserved</h1>
</div>
