<footer class="footer flex">
    <div class="footer-section-1">
        <div class="column-1 column-common flex">
            <h2 class="m-5 p-5">NAVIGATION</h2>
            <ul>
                <li class="m-5 p-5"><a href="">Home</a></li>
                <li class="m-5 p-5"><a href="">Services</a></li>
                <li class="m-5 p-5"><a href="">Process</a></li>
                <li class="m-5 p-5"><a href="">About</a></li>
                <li class="m-5 p-5"><a href="">Contact</a></li>
            </ul>
        </div>
        <div class="column-2 column-common flex">
            <h2 class="m-5 p-5">OTHERE LINKS</h2>
            <ul>
                <li class="m-5 p-5"><a href="">Community</a></li>
                <li class="m-5 p-5"><a href="">Join Us</a></li>
                <li class="m-5 p-5"><a href="">Prtfolio</a></li>
            </ul>
        </div>
        <div class="column-3 column-common flex">
            <h2 class="m-5 p-5">CONTACT</h2>
            <div class="contact-footer-info">
                <h3>Address: <a href="https://maps.app.goo.gl/DSfwguAsY2qvo5eR8" target="_blank" class="m-5 p-5">B 57, Pocket B, Okhla Phase I, Okhla Industrial Estate, New Delhi, Delhi 110020</a></h3>
                <h3>phone: <a href="tel:+91-6395143497" class="m-5 p-5">+91-6395143497</a></h3>
                <h3>Emails: <a href="mailto:contact@aestheticsolar.com" class="m-5 p-5">contact@aestheticsolar.com</a>
                    <br>
                    <a href="mailto:support@aestheticsolar.com">support@aestheticsolar.com</a>
                </h3>
            </div>
        </div>
    </div>
    <div class="column-4 column-common flex">
        <img class="footer-logo m-5 p-5" src="/static/media/logo.png" alt="">
        <img class="footer-intro-name m-5 p-5" src="/static/media/intro-name.png" alt="">
    </div>
</footer>
<div class="copyright">
    <h1 class="p-5">Aesthetic Solar @ All Rights Reserved</h1>
</div>


