{% extends 'base.html' %}

{% block start %}


   <!-- cover section=----------------------------------? -->
   <div class="cover-section">
    <div class="cover-section-half flex">
      <h1 class="p-5 m-5">FUTURE IS SOLAR POWERD</h1>
      <p class="p-10 m-5">Welcome to Aesthetic Solar, where elegance meets efficiency in harnessing the power of the
        sun! As your dedicated content creator, let me introduce you to the world of Aesthetic Solar and the exquisite
        solar panel designs and services</p>
      <a href="{% url 'about' %}" class="p-5 m-5">Learn More<i class="fa fa-arrow-right p-5"></i></a>
    </div>
  </div>

  <!-- intro to company-------------------- -->

  <div class="intro-box flex">
    <div class="intro-box-1 intro-box-common flex">
      <h1 class="m-10 p-10">WHAT WE ARE..</h1>
      <p class="m-10 p-10">At Aesthetic Solar, we believe that sustainability should be seamlessly integrated into your
        lifestyle. Our solar panel designs go beyond functionality, offering a touch of sophistication to your
        residential or commercial space. From sleek rooftop installations to artistically designed solar arrays, our
        panels are a statement of eco-conscious elegance.
      </p>
      <p class="m-10 p-10">We understand that solar panels are not just functional elements but can be a part of your
        overall design aesthetic. Aesthetic Solar takes pride in creating solar solutions that seamlessly integrate with
        the architectural beauty of your property. Let your solar panels become a piece of art while generating clean
        energy.</p>
    </div>
    <div class="intro-box-2 intro-box-common">
      <img
        src="https://images.unsplash.com/photo-1491677533189-49af044391ed?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="">
    </div>
  </div>


  <!-- Services section-------------------------------------------- -->
  <div class="service-head">
    <h1 class="m-5 p-5">Our Services</h1>
  </div>
  <div class="services flex">
    <a href="{% url 'service_detail' %}">
      <div class="service-card service-card-1 m-10 flex">
        <h1 class="p-5 m-5">Solar Sales Proposals</h1>
        <div class="bottom-para flex">
          <p class="p-5 m-5">Aesthetic Solar provides personalized solar designs that cater to your specific
            requirements.
          </p>
        </div>
      </div>
    </a>
    <a href="{% url 'service_detail' %}">
      <div class="service-card service-card-2 m-10 flex">
        <h1 class="p-5 m-5">Solar Premit Design Services</h1>
        <div class="bottom-para flex">
          <p class="p-5 m-5">we understand the complexities of obtaining solar permits.</p>
        </div>
      </div>
    </a>
    <a href="{% url 'service_detail' %}">
      <div class="service-card service-card-3 m-10 flex">
        <h1 class="p-5 m-5">Engineering PE Stamp Services</h1>
        <div class="bottom-para flex">
          <p class="p-5 m-5">At Precision Engineering Stamps, we take pride in our team of experienced and licensed
            Professional Engineers.</p>
        </div>
      </div>
    </a>
  </div>

  <div class="home-contact-form flex">

         {% include 'contact_form.html' %}

        </div>
  <!-- contact us section----------------------------------------- -->

  <div class="contact-container flex">
    <h1 class="m-5 p-5">Don't Be Hesitate To Contact Us.</h1>
    <h3><a href="{% url 'contact' %}" class="m-5 p-5">Contact Us</a></h3>
  </div>

  <!-- Achivements section----------------------------------------- -->
  <div class="achivement-box">
    <div class="achivemenr-box-head">
      <h1 class="p-5">We Have Surity To Provide You</h1>
    </div>
    <div class="achivement-box-content flex">
      <div class="achivement-card flex" id="achivement-card-1">
        <i class="fas fa-users" style="color: #FC7E08;"></i>
        <h4 class="p-5 m-5">Expert Team</h4>
        <p class="p-5">We Have Expert Team Members.</p>
      </div>
      <div class="achivement-card flex" id="achivement-card-2">
        <i class="fad fa-edit" style="--fa-primary-color: #FC7E08; --fa-secondary-color: #FC7E08;"></i>
        <h4 class="p-5 m-5">Best Designs</h4>
        <p class="p-5">Our Designes Are Unique And Creatives.</p>
      </div>
      <div class="achivement-card flex" id="achivement-card-3">
        <i class="fad fa-business-time" style="--fa-primary-color: #FC7E08; --fa-secondary-color: #FC7E08;"></i>
        <h4 class="p-5 m-5">Bussiness Continuity</h4>
        <p class="p-5">We Provide You On Time Service</p>
      </div>
    </div>
  </div>





{% endblock start %}