{% extends 'base.html' %}



{% block title %}Aesthetic solar - Portfolio{% endblock title %}
{% block meta %}
<link rel="icon" type="image/x-icon" href="/media/logo.png">
{% endblock meta %}


{% block start %}

  <!-- banner section---------------------------------------------- -->
  <section class="banner"
    style="background: url(https://plus.unsplash.com/premium_photo-1661335257817-4552acab9656?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center/cover;"
    id="banner">
    <aside class="shade">
      <div class="banner-container">
        <div class="banner-head">
          <h1>
            Our Projects
          </h1>
        </div>
      </div>
    </aside>
  </section>

  <!-- project overview container============================================ -->

  <div class="project-overview-container flex">
    <div class="project-overview">
      <h1 class="m-5 p-5">
        Recently We Have Done Some Projects:
      </h1>
      <p class="m-5 p-5">
        Welcome to the Project Showcase section of Aesthetic Solar, where we highlight some of our most notable solar
        energy installations. Each project represents our commitment to excellence, innovation, and sustainability in
        harnessing the power of the sun. Explore our portfolio to see how Aesthetic Solar is transforming properties
        with
        elegant and efficient solar solutions.</p>
    </div>
  </div>


  <div class="Project-content-container">
    <div class="residential-project-container flex">
      <div class="residential-head-container">
        <h1 class="p-5 m-5">
          Residential
        </h1>
        <p class="m-5 p-5">At Aesthetic Solar, we take pride in our residential solar projects, each tailored to meet
          the unique needs and preferences of our clients. From sleek rooftop installations to ground-mounted arrays,
          our residential projects exemplify elegance, efficiency, and sustainability. Here are some details about our
          residential projects:</p>
      </div>
      <div class="Image-gallery-container residential-image-gallery-conatainer">
        <div class="gallery flex">
          <div class="img img-1"></div>
          <div class="img img-2 remove"></div>
          <div class="img img-3"></div>
          <div class="img img-4"></div>
          <div class="img img-5"></div>
          <div class="img img-6 remove"></div>
        </div>
      </div>
      <div class="residential-head-container">
        <h1 class="p-5 m-5">
          Our Residential Projects at Aesthetic Solar:
        </h1>
        <p class="m-5 p-5">At Aesthetic Solar, we take great pride in our residential projects, each one a testament to
          our commitment to quality, innovation, and customer satisfaction.At Aesthetic Solar, we specialize in
          designing and implementing solar energy solutions for both residential and commercial properties. Our projects
          are tailored to meet the unique needs and requirements of each client, with a focus on aesthetics, efficiency,
          and sustainability. </p>
        <hr>
        <h3 class="m-5 p-5">Tailored Solutions:</h3>
        <p class="m-5 p-5"> Our residential projects are designed to seamlessly integrate solar panels into the existing
          architecture of homes, enhancing their aesthetic appeal while maximizing energy production.</p>
        <h3 class="m-5 p-5">Customized Designs:</h3>
        <p class="m-5 p-5"> We work closely with homeowners to create customized solar solutions that meet their
          specific energy needs, budget constraints, and design preferences.</p>
        <h3 class="m-5 p-5">Rooftop Installations: </h3>
        <p class="m-5 p-5"> Our rooftop solar installations are a popular choice for residential properties, providing a
          cost-effective and space-efficient way to harness the power of the sun.</p>
        <h3 class="m-5 p-5">Ground-Mounted Arrays: </h3>
        <p class="m-5 p-5"> For properties with ample outdoor space, we offer ground-mounted solar arrays that can be
          positioned to optimize sun exposure and energy output.</p>
        <h3 class="m-5 p-5">Energy Efficiency:</h3>
        <p class="m-5 p-5">In addition to solar panels, we also offer energy-efficient technologies such as smart
          thermostats, LED lighting, and energy storage systems to further reduce energy consumption and enhance
          savings.</p>
      </div>
      <div class="Image-gallery-container
      residential-image-gallery-conatainer">
        <div class="gallery gallery-2 flex">
          <div class="img img-box-1 remove"></div>
          <div class="img img-box-2"></div>
          <div class="img img-box-3"></div>
          <div class="img img-box-4"></div>
          <div class="img img-box-5"></div>
          <div class="img img-box-6 remove"></div>
        </div>
      </div>
      <div class="residential-head-container">
        <h1 class="p-5 m-5">
          Commercial Projects:
        </h1>
        <p class="m-5 p-5">At Aesthetic Solar, we specialize in designing and implementing solar energy solutions for
          commercial properties of all sizes. Our commercial projects are tailored to meet the unique energy needs,
          budget constraints, and sustainability goals of businesses across various industries. Aesthetic Solar has the
          expertise and experience to deliver customized solar solutions that exceed your expectations. </p>
        <hr>
        <h3 class="m-5 p-5"> Energy Cost Savings:</h3>
        <p class="m-5 p-5"> By investing in solar energy, businesses can significantly reduce their electricity bills
          and achieve long-term cost savings, improving their bottom line and competitiveness.</p>
        <h3 class="m-5 p-5"> Brand Image:</h3>
        <p class="m-5 p-5">Adopting solar energy can enhance a company's brand image by demonstrating a commitment to
          sustainability and corporate social responsibility, attracting environmentally conscious customers and
          investors.</p>
        <h3 class="m-5 p-5"> Government Incentives:</h3>
        <p class="m-5 p-5">Many governments offer incentives and tax credits for businesses that invest in renewable
          energy, making solar installations a financially attractive option for commercial properties.</p>
        <h3 class="m-5 p-5">Performance Monitoring:</h3>
        <p class="m-5 p-5">We provide comprehensive monitoring systems that allow businesses to track their solar energy
          production in real-time, enabling proactive maintenance and optimization for maximum efficiency.</p>
      </div>
      <div class="Image-gallery-container
      residential-image-gallery-conatainer">
        <div class="gallery gallery-3 flex">
          <div class="img img-com-1"></div>
          <div class="img img-com-2"></div>
          <div class="img img-com-3"></div>
          <div class="img img-com-4 remove"></div>
          <div class="img img-com-5 remove"></div>
          <div class="img img-com-6"></div>
        </div>
      </div>
    </div>
  </div>




{% endblock start %}