{% extends 'base.html' %}



{% block title %}Aesthetic solar - Service{% endblock title %}
{% block meta %}
<link rel="icon" type="image/x-icon" href="/media/logo.png">
{% endblock meta %}


{% block start %}


 <!-- banner section---------------------------------------------- -->
 <section class="banner"
 style="background: url(https://images.unsplash.com/photo-1491357492920-d2979986a84e?q=80&w=1966&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center/cover;"
 id="banner">
 <aside class="shade">
   <div class="banner-container">
     <div class="banner-head">
       <h1>
         Our Services
       </h1>
     </div>
   </div>
 </aside>
</section>

<!--service card secection --------------------------------------------------------------------------------------------------------4 -->

<div class="intro-to-service flex p-5">
 <div class="our-specialization">
   <h1 class="m-5 p-10">
     Our Specialization
   </h1>
   <p class="m-5 p-10">Precision Engineering Stamps offers a range of professional engineering certification services
     to ensure compliance, safety, and quality in various construction and infrastructure projects. Our licensed
     Professional Engineers provide expertise across multiple disciplines, including structural, mechanical,
     electrical, civil, and environmental engineering. Services include structural analysis and design certification,
     mechanical systems certification, electrical engineering approvals, civil engineering consultations, and
     environmental engineering compliance. We also offer specialized services such as seismic analysis certification,
     construction drawings review, and third-party engineering document review. With a focus on accuracy, efficiency,
     and regulatory compliance, Precision Engineering Stamps is your trusted partner for reliable engineering
     certifications tailored to your project needs.</p>
   <p class="m-5 p-10">These are just a few examples of the services offered by us. Our team
     is dedicated to providing comprehensive engineering certification solutions tailored to the needs of each
     project.
   </p>
 </div>
</div>

<div class="main-service flex">
 <div class="service-row-common service-row-1 flex">
   <a href="{% url 'service_detail' %}">
     <div class="service-para flex">
       <h1 class="m-5 p-5">Solar Sales Proposals</h1>
       <p class="m-5 p-5">We will conduct an initial consultation to assess your energy needs, property layout, and
         solar potential. Based on the site assessment, we will design a customized solar panel system that meets
         your energy requirements and aesthetic preferences.</p>
     </div>
   </a>
   <div class="service-img">
     <img
       src="https://plus.unsplash.com/premium_photo-1678841804215-db66a2587d7d?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
       alt="">
   </div>
 </div>
 <div class="service-row-common service-row-2 flex">
   <a href="{% url 'service_detail' %}">
     <div class="service-para flex">
       <h1 class="m-5 p-5">Solar Premit Design Services</h1>
       <p class="m-5 p-5">Our experienced technicians will install your solar panel system efficiently and with
         minimal disruption to your property.Our team will perform a comprehensive site assessment to determine the
         optimal placement and size of your solar panel system.</p>
     </div>
   </a>
   <div class="service-img">
     <img
       src="https://images.unsplash.com/photo-1542336391-ae2936d8efe4?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
       alt="">
   </div>
 </div>
 <div class="service-row-common service-row-3 flex">
   <a href="{% url 'service_detail' %}">
     <div class="service-para flex">
       <h1 class="m-5 p-5">Engineering PE Stamp Services</h1>
       <p class="m-5 p-5">Engineering PE Stamps Services, where professionalism meets precision. As licensed
         Professional Engineers (PE), we are dedicated to ensuring the safety, compliance, and quality of engineering
         projects through our stamping services. With years of expertise across various disciplines, we offer
         reliable certification solutions to meet your specific needs.</p>
     </div>
   </a>
   <div class="service-img">
     <img src="https://miro.medium.com/v2/resize:fit:448/1*mXAW0xeXiYiHC3jh-XAgNA.png" alt="">
   </div>
 </div>
</div>

<!-- contact us section----------------------------------------- -->

<div class="contact-container flex">
 <h1 class="m-5 p-5">For More Information.</h1>
 <h1 class="m-5 p-5">Don't Be Hesitate To Contact Us.</h1>
 <h3><a href="{% url 'contact' %}" class="m-5 p-5">Contact Us</a></h3>
</div>


{% endblock start %}